@charset "utf-8";

/* --- 目次 --- */
/* common */
/* typography */
/* button */
/* link */
/* card */
/* list */
/* accordion */
/* inquirySection */
/* header */
/* breadcrumbs */
/* backToTop */
/* footer */
/* ----------- */


/* common */
:root {
    --link-color: #349bf4;
    --main-color: #dd1b57;
    --text-color: #333;
/*コンテンツ幅： 1024px
コンテンツ＋左右padding： 1104px (40 + 1024 + 40)
    /* 1104px以上 PC固定レイアウト:  1/16 =  .0625 (1px = 1rem) 　1px=1/16rem=0.0625rem*/
    --fs-per: .0625;
    /* 1104pxより狭い PCリキッドレイアウト:  1/1104*100vw =  .0906vw */
    --fs-vw: .0906;
}


*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: var(--color-black);
    font-family: "游ゴシック体",
        YuGothic,
        "游ゴシック",
        "Yu Gothic",
        "メイリオ",
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        sans-serif;
    font-weight: normal;
    font-style: normal;

    width: 100%;
    font-size: min(var(--fs-vw)*1vw, var(--fs-per)*1rem);
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 16rem;
    line-height: 2;
}

.main {
    position: relative;
    padding-bottom: 15rem;
}

.pages .main {
    padding: 110rem 0 10rem;
}

section {
    padding: 80rem 0;
}

.pagesMV {
    padding: 0;
}

.container {
    width: 1024rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: .4s;

}

a:hover {
    opacity: .7;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    color: inherit;
}

textarea {
    resize: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.forSP {
    display: none;
}

.pl {
    padding-left: 1em;
}

@media screen and (max-width: 767.9px) {
    :root {
        /* 768pxより狭い SPリキッドレイアウト:  1/375*100vw= .2667vw */
        --fs-vw: .2667;
    }

    html {
        font-size: calc(var(--fs-vw)*1vw);
    }

    .main {
        padding-bottom: 16rem;
    }

    .pages .main {
        padding-top: 62rem;
    }

    section {
        padding: 10rem 0 100rem;
    }

    .container {
        width: 335rem;
    }

    .forSP {
        display: revert;
    }

    .forPC {
        display: none;
    }